<div class="page-background">
    <img src="" alt="" class="background-image">
</div>

<div class="card-wrapper">
  <mat-card class="login-card" 
    [ngStyle]="{'background-image': 'url(image/background-login.png)'}">
    <div class="card-content">
        <img src="image/logolgm.png" alt="LGM Logo" class="logo">
        <h2>MyLNPk</h2>
        <div class="flex-auto">
        <span class="font-bold block mb-2">No. KP </span>
        <p-inputmask mask="999999-99-9999" (ngModel)="value1" placeholder="999999-99-9999" /></div>
        <div class="flex-auto">
        <span class="font-bold block mb-2">Password </span>
        <p-password (ngModel)="value" [feedback]="false" /></div>
        <p-button label="Log Masuk" [rounded]="true" [raised]="true" severity="success" />
        <p-button label="Sign in with Microsoft" icon="bi bi-microsoft" [rounded]="true" variant="outlined" [raised]="true" severity="info" />
    </div>
  </mat-card>
</div>
