<nav class="navbar custom-navbar px-3">
  <!-- Logo + Nama Sistem -->
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="image/logolnpk.png" alt="Logo" class="logo me-2">
    <span class="fw-bold system-name">Lembaga Getah Malaysia</span>
  </a>

  <!-- Menu kanan -->
  <div class="ms-auto d-flex align-items-center">
    <a class="nav-link me-3" routerLink="/log-masuk">Login</a>
    <a class="nav-link me-3" routerLink="/laman-utama">Laman Utama</a>
    <button class="btn logout-btn d-flex align-items-center">
      <i class="bi bi-box-arrow-right me-1"></i> Logout
    </button>

  </div>
</nav>