<h1>Penilaian</h1>
<p-table [value]="products" [tableStyle]="{ 'min-width': '25rem' }">
    <ng-template #header>
        <tr>
            <th>Tahun Penilaian</th>
            <th>Kategori Penilaian</th>
            <th>Status</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
          <td>{{ product.tahunPenilaian }}</td>
          <td>{{ product.kategoriPenilaian }}</td>
          <td><p-tag value="{{ product.status }}" [severity]="product.status === 'Penilaian PPP' ? 'warn' : null" /></td>
          <td><p-button (onClick)="onButtonClick()" [label]="product.status === 'Penilaian PPP' ? 'Kemas kini' : 'Lihat'" [severity]="product.status === 'Penilaian PPP' ? 'warn' : null" size="small"/></td>
        </tr>
    </ng-template>
</p-table>
