  <div style="display: flex; flex-wrap: wrap; width: 100%;">
    <p-card>
      <ng-template #title>Pegawai yang Dinilai </ng-template>
      <ng-template #subtitle>{{ pegawaiDinilai.nama }}</ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    {{ pegawaiDinilai.jawatan }}<br>
        <b>Gred</b>       {{ pegawaiDinilai.gred }}<br>
        <b>Bahagian</b>   {{ pegawaiDinilai.bahagian }}<br>
        <b>Unit</b>       {{ pegawaiDinilai.unit }}
      </p>
    </p-card>
    <p-card>
      <ng-template #title>Pegawai Penilai Pertama</ng-template>
      <ng-template #subtitle>{{ pegawaiPenilaiPertama.nama }}</ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    {{ pegawaiPenilaiPertama.jawatan }}<br>
        <b>Gred</b>       {{ pegawaiPenilaiPertama.gred }}<br>
        <b>Bahagian</b>   {{ pegawaiPenilaiPertama.bahagian }}<br>
        <b>Unit</b>       {{ pegawaiPenilaiPertama.unit }}
      <!-- <ng-template #title>Pegawai Penilai Pertama</ng-template>
      <ng-template #subtitle></ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    <br>
        <b>Gred</b>       <br>
        <b>Bahagian</b>   <br>
        <b>Unit</b>      -->
      </p>
    </p-card>
    <p-card>
      <ng-template #title>Pegawai Penilai Kedua </ng-template>
      <ng-template #subtitle>{{ pegawaiPenilaiKedua.nama }}</ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    {{ pegawaiPenilaiKedua.jawatan }}<br>
        <b>Gred</b>       {{ pegawaiPenilaiKedua.gred }}<br>
        <b>Bahagian</b>   {{ pegawaiPenilaiKedua.bahagian }}<br>
        <b>Unit</b>       {{ pegawaiPenilaiKedua.unit }}
      <!-- <ng-template #subtitle></ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    <br>
        <b>Gred</b>       <br>
        <b>Bahagian</b>   <br>
        <b>Unit</b>        -->
      </p>
    </p-card>
  </div>
