  <div style="display: flex; flex-wrap: wrap; width: 100%;">
    <p-card>
      <ng-template #title>Pegawai Penilai Pertama</ng-template>
      <ng-template #subtitle></ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    <br>
        <b>Gred</b>       <br>
        <b>Bahagian</b>   <br>
        <b>Unit</b>     
      </p>
    </p-card>
    <p-card>
      <ng-template #title>Pegawai Penilai Kedua </ng-template>
      <ng-template #subtitle></ng-template>
      <p style="line-height: 1.7;">
        <b>Jawatan</b>    <br>
        <b>Gred</b>       <br>
        <b>Bahagian</b>   <br>
        <b>Unit</b>       
      </p>
    </p-card>
  </div>
