<!-- <h2>Selamat datang
  <span class="text-color">{{ capitalizeWords(this.user.nama) }}</span>
</h2> -->

<!-- PYD view -->
<div *ngIf="hasRole(2)">
  <app-status-penilaian></app-status-penilaian>
  <app-maklumat-pp></app-maklumat-pp>
</div>

<!-- PPP/PPK view -->
<div *ngIf="hasAnyRole([3,4])">
  <app-senarai-sasaran-ppp *ngIf="hasRole(3)"></app-senarai-sasaran-ppp>
  <app-senarai-pegawai-ppp></app-senarai-pegawai-ppp>
</div>

<!-- PPSM view -->
<div *ngIf="hasRole(5)">
  <app-dashboard-ppsm></app-dashboard-ppsm>
</div>

<div *ngIf="hasRole(6)">
  <app-senarai-pegawai-pa></app-senarai-pegawai-pa>
</div>

