<div style="display: flex; flex-direction: column; gap: 1rem;" *ngIf="!loading">
  <h4>Skala</h4>
  <p-table [value]="skalaData" [tableStyle]="{ width: '100%', tableLayout: 'fixed' }" showGridlines="true">
    <ng-template pTemplate="header">
      <tr>
        <th colspan="2" style="width: 20%; text-align: center;">Sangat Rendah</th>
        <th colspan="2" style="width: 20%; text-align: center;">Rendah</th>
        <th colspan="2" style="width: 20%; text-align: center;">Sederhana</th>
        <th colspan="2" style="width: 20%; text-align: center;">Tinggi</th>
        <th colspan="2" style="width: 20%; text-align: center;">Sangat Tinggi</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body">
      <tr>
        <td style="width: 10%; text-align: center;">1</td>
        <td style="width: 10%; text-align: center;">2</td>
        <td style="width: 10%; text-align: center;">3</td>
        <td style="width: 10%; text-align: center;">4</td>
        <td style="width: 10%; text-align: center;">5</td>
        <td style="width: 10%; text-align: center;">6</td>
        <td style="width: 10%; text-align: center;">7</td>
        <td style="width: 10%; text-align: center;">8</td>
        <td style="width: 10%; text-align: center;">9</td>
        <td style="width: 10%; text-align: center;">10</td>
      </tr>
    </ng-template>
  </p-table>

  <br>
  <!-- <p-divider /> -->

  <!-- ⭐ Loop through Kriteria -->
  <div *ngFor="let kriterium of kriteria; let isLast = last">
    <h4>{{ kriterium.tajuk }}</h4>

    <!-- ⭐ Loop through Soalans -->
    <div *ngFor="let soalan of kriterium.soalans" style="display: flex; justify-content: space-between; margin-bottom: 1.5rem;">
      <div style="flex: 1; padding-right: 2rem;">
        <h6>{{ soalan.tajuk }}</h6>

        <!-- ⭐ Loop through Diskripsis -->
        <p *ngFor="let diskripsi of soalan.diskripsis">
          {{ diskripsi.diskripsi }}
        </p>
      </div>

      <div style="display: flex; gap: 0.75rem; width: 22.25rem;">
        <!-- First assessor input (editable) -->
        <p-inputNumber
          [(ngModel)]="soalan.markahPpp"
          (onInput)="onInputChange()"
          [inputId]="'soalan_ppp_' + soalan.idSoalan"
          [min]="1"
          [max]="10"
          [disabled]="!isPpp"
          [inputStyle]="{
          width: '5rem',
          height: '3rem',
          textAlign: 'center',
          cursor: isPpp ? 'text' : 'not-allowed'
          }"
        />

        <!-- Second assessor input (disabled for now) -->
        <p-inputNumber
          [(ngModel)]="soalan.markahPpk"
          [min]="1"
          [max]="10"
          [disabled]="!isPpk"
          [inputId]="'soalan_ppk_' + soalan.idSoalan"
          [inputStyle]="{
          width: '5rem',
          height: '3rem',
          textAlign: 'center' }"
        />
      </div>
    </div>

    <br>
    <!-- Add divider between kriteria (except last one) -->
    <!-- <p-divider *ngIf="!isLast" /> -->
  </div>

  <!-- <p-divider/> -->
  <!-- Overall marks section -->
  <div style="display: flex; justify-content: space-between; margin-top: 2rem;">
    <h4>Markah Keseluruhan (%)</h4>
    <div style="display: flex; gap: 0.75rem;">
      <p-inputNumber
        [ngModel]="markahKeseluruhanPpp"
        [readonly]="true"
        [disabled]="!isPpp"
        [minFractionDigits]="2"
        [min]="1"
        [max]="100"
        mode="decimal"
        [inputStyle]="{ width: '5rem', height: '3rem', textAlign: 'center'}"
      />
      <p-inputNumber
        [ngModel]="markahKeseluruhanPpk"
        [readonly]="true"
        [disabled]="!isPpk"
        [minFractionDigits]="2"
        [min]="1"
        [max]="100"
        mode="decimal"
        [inputStyle]="{ width: '5rem', height: '3rem', textAlign: 'center'}"
      />
      <p-inputNumber
        [ngModel]="markahKeseluruhanPurata"
        [readonly]="true"
        [disabled]="true"
        [minFractionDigits]="2"
        [min]="1"
        [max]="100"
        mode="decimal"
        [inputStyle]="{ width: '5rem', height: '3rem', textAlign: 'center'}"
      />
      <p-inputNumber
        [(ngModel)]="markahKeseluruhanPpsm"
        (ngModelChange)="onInputChange()"
        [readonly]="!isPpsm"
        [disabled]="!isPpsm"
        [minFractionDigits]="2"
        [min]="1"
        [max]="100"
        mode="decimal"
        [inputStyle]="{ width: '5rem', height: '3rem', textAlign: 'center'}"
      />
    </div>
  </div>

  <!-- Save button -->
  <!-- <div style="display: flex; justify-content: flex-end; margin-top: 2rem;">
    <p-button
      label="Simpan"
      variant="outlined"
      (onClick)="simpan()"
      [disabled]="loading">
    </p-button>
  </div>
</div> -->

<!-- Loading state -->
<div *ngIf="loading" style="text-align: center; padding: 3rem;">
  <i class="pi pi-spin pi-spinner" style="font-size: 2rem;"></i>
  <p>Memuatkan soalan...</p>
</div>
