<h2>Senarai Pegawai</h2>

<div class="card">
    <p-table [value]="products"  [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Nama</th>
                <th>Tarikh Mula</th>
                <th>Tarikh Akhir</th>
                <th>Tempoh Sudah Berkhidmat</th>
                <th>Status</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.nama }}</td>
                <td>{{ product.tarikhMulaKontrak }}</td>
                <td>{{ product.tarikhAkhirKontrak }}</td>
                <td>{{ product.tempohBerkhidmat }}</td>
                <td>
                    <div class="card flex justify-center">
                        <p-tag [severity]="product.status === 'Tidak Aktif'? 'secondary': null ">{{ product.status }}</p-tag>
                    </div>
                </td>
                <td>
                    <p-button variant="outlined" [severity]="product.buttonOption === 'Aktifkan'? 'success': null ">{{ product.buttonOption }}</p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>