<h2>Tambah Pegawai</h2><br>
<div class="row">
                    <div class="col-md-5 form-group input-text">
                        <label>Nama</label>
                        <input id="nama" name="nama"
                               type="text" ng-disabled="toggleinput"
                               class="act_setting"
                               ng-model="userDetails.nama"><br><br>
                        <label>No. Kad Pengenalan</label>
                        <input id="no_kad" name="no_kad"
                               type="text" ng-disabled="toggleinput"
                               class="act_setting"
                               ng-model="userDetails.no_kad"><br><br>
                        <label>Emel</label>
                        <input id="emel" name="emel"
                               type="text" ng-disabled="toggleinput"
                               class="act_setting"
                               ng-model="userDetails.emel"><br><br>
                        <label>Skim Perkhidmatan</label>
                        <input id="skim_khidmat" name="skim_khidmat"
                               type="text" ng-disabled="toggleinput"
                               class="act_setting"
                               ng-model="userDetails.skim_khidmat"><br><br>
                        <label>Gred Hakiki</label>
                               <select 
                               id="gred_hakiki" 
                               name="gred_hakiki" 
                               ng-disabled="toggleinput" 
                               class="act_setting" 
                               ng-model="userDetails.gred_hakiki">
                               <option value=""> Gred </option>
                               <option value="F44">F44</option>
                               <option value="F52">F52</option>
                               <option value="F54">F54</option>
                               <option value="FA29">FA29</option>
                               <option value="FA32">FA32</option>
                               <option value="FA38">FA38</option>
                            </select><br><br>
                        <label>Unit</label>
                        <select id="unit" name="unit"
                               type="text" ng-disabled="toggleinput"
                               class="act_setting"
                               ng-model="userDetails.unit">
                               <option value=""> Unit </option>
                        </select><br><br>
                               
                    </div>
                    <div class="col-md-5 form-group input-text">
                        <label>Nama Jawatan yang disandang sekarang</label>
                        <input id="nama_jawatan_sekarang"  name="nama_jawatan_sekarang"
                        type="text"
                        ng-disabled="toggleinput"
                        class="act_setting"
                        ng-model="userDetails.nama_jawatan_sekarang"><br><br>
                        <label>Gred Jawatan yang disandang sekarang</label>
                        <input id="gred_jawatan_sekarang"  name="gred_jawatan_sekarang"
                        type="text"
                        ng-disabled="toggleinput"
                        class="act_setting"
                        ng-model="userDetails.gred_jawatan_sekarang"><br><br>
                        <label>Tempat Bertugas</label>
                        <select id="tempat_bertugas" name="tempat_bertugas"
                               type="text" ng-disabled="toggleinput"
                               class="act_setting "
                               ng-model="userDetails.tempat_bertugas">
                               <option value=""> Tempat Bertugas </option>
                        </select><br><br>
                        <div id="Tarikh" class="flex-auto">
                            <label for="icondisplay">Tarikh Mula Kontrak</label>
                            <p-calendar [(ngModel)]="date1"
                            inputId="icondisplay"
                            ng-disabled="toggleinput"
                            [iconDisplay]="'input'"
                            [showIcon]="true"
                            dateFormat="mm/dd/yy"
                            class="act_setting_calendar">
                     </p-calendar>
                     </div><br>
                        <div class="flex-auto">
                            <label for="icondisplay" class="font-bold block mb-2"> Tarikh Akhir Kontrak </label>
                            <p-datepicker [(ngModel)]="date2" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" />
                        </div>
                     </div>
                     <div class="row">

<div class="example-button-row">
  <button mat-button class="btn-kembali">Kembali</button>
  <button mat-button class="btn-tambah">Tambah</button>
</div>
