<p-breadcrumb [home]="home" [model]="items" />
<h4>Tambah Pegawai</h4><br>
<div class="row">
       <div class="col-md-5 form-group input-text">
              <label>Nama</label>
              <input id="nama" name="nama" type="text" class="act_setting" ngModel [(ngModel)]="details.nama"><br><br>

              <label>No. Kad Pengenalan</label>
              <p-inputmask mask="999999-99-9999" id="no_kad" name="no_kad" type="text" styleClass="act_setting"
                     [(ngModel)]="details.noKP" placeholder="999999-99-9999" /><br><br>

              <label>Emel</label>
              <input id="emel" name="emel" type="text" class="act_setting" ngModel [(ngModel)]="details.emel"><br><br>

              <label>Skim Perkhidmatan</label>
              <input id="skim_khidmat" name="skim_khidmat" type="text" class="act_setting" ngModel
                     [(ngModel)]="details.skimPerkhidmatan"><br><br>

              <label>Gred Hakiki</label>
              <input id="gred_hakiki" name="gred_hakiki" type="text" class="act_setting" ngModel
                     [(ngModel)]="details.gredHakiki"><br><br>
       </div>

       <div class="col-md-5 form-group input-text">
              <label>Nama Jawatan yang disandang sekarang</label>
              <input id="nama_jawatan_sekarang" name="nama_jawatan_sekarang" type="text" class="act_setting" ngModel
                     [(ngModel)]="details.namaJawatan"><br><br>

              <label>Gred Jawatan yang disandang sekarang</label>
              <input id="gred_jawatan_sekarang" name="gred_jawatan_sekarang" type="text" class="act_setting" ngModel
                     [(ngModel)]="details.gredDisandang"><br><br>

              <label>Tempat Bertugas</label>
              <p-select [options]="units" [(ngModel)]="details.id" optionLabel="namaUnit" optionValue="id"
                     [filter]="true" filterBy="namaUnit" [showClear]="true" placeholder="Pilih Unit" class="act_setting" (onChange)="onUnitChange($event)">
              </p-select>
              <br><br>

              <label> Tarikh Mula Kontrak </label>
              <p-datepicker name="tarikhMulaKontrak" [(ngModel)]="details.tarikhMulaKontrak"
                     dateFormat="dd/mm/yy"></p-datepicker><br><br>

              <label> Tarikh Akhir Kontrak </label>
              <p-datepicker name="tarikhAkhirKontrak" [(ngModel)]="details.tarikhAkhirKontrak"
                     dateFormat="dd/mm/yy"></p-datepicker>

       </div>
</div>
<div class="row">

       <div class="example-button-row">
              <button mat-button class="btn-kembali" [routerLink]="'/senarai-pegawai'">Kembali</button>
              <button mat-button class="btn-tambah" (click)="simpan()">Tambah</button>
       </div>