<p-card>
  <ng-template pTemplate="title">
    <div style="display: flex; justify-content: space-between;">
      Pencapaian Sasaran Kerja
      <span>
        <div style="display: flex; gap: 5px;">
          <p-tag [value]="(tahunPenilaian ?? '-') + ''" [rounded]="true" />
          <p-tag [value]="namaKategoriPenilaian || '-'" [rounded]="true" />
        </div>
      </span>
    </div>
  </ng-template>

  <!-- Add Aktiviti button -->
  <div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
    <p-button
      *ngIf="editable"
      (click)="onButtonClick()"
      label="Tambah Aktiviti"
      icon="pi pi-plus"
      size="small" />
  </div>

  <!-- ⭐ Reusable table component -->
  <app-sasaran-table
    [groups]="groups"
    [pagedGroups]="pagedGroups"
    [loading]="loading"
    [editable]="editable"
    [showPaginator]="true"
    [first]="first"
    [pageSize]="pageSize"
    (editAktiviti)="onEditAktiviti($event)"
    (deleteAktiviti)="onDeleteAktiviti($event)"
    (pageChange)="onPageChange($event)">
  </app-sasaran-table>



  <!-- Action buttons -->
  <div style="margin-top: 1rem; display: flex; gap: 0.5rem;">
    <p-button
      *ngIf="editable"
      label="Hantar"
      (click)="onHantar()">
    </p-button>

    <p-button
      *ngIf="submitted && isPpp"
      label="Sah"
      (click)="onSah()">
    </p-button>
  </div>
</p-card>
