<div style="display: flex; justify-content: space-between;">
  <h1>Pencapaian Sasaran Kerja</h1>
  <span>
    <div style="display: flex; gap: 5px;">
      <p-tag value="2025" [rounded]="true"/>
      <p-tag value="Utama" [rounded]="true"/>
    </div>
  </span>
</div>
<div style="display: flex; justify-content: flex-end;">
  <p-button (onClick)="onButtonClick()" label="Tambah Aktiviti" icon="pi pi-plus" size="small"/>
</div>
<p-table [tableStyle]="{ 'min-width': '25rem' }">
    <ng-template #header>
        <tr>
            <th>Aktiviti</th>
            <th>Petunjuk Prestasi</th>
            <th>Sasaran Kerja</th>
            <th>Pencapaian Sebenar</th>
            <th>Ulasan</th>
            <th>Lampiran</th>
        </tr>
    </ng-template>
</p-table>
