<h1>Tambah Aktiviti</h1>

<label for="">Nama Aktiviti</label> <br>
<input type="text" pInputText/> <br>

<label for="">Petunjuk Prestasi</label> <br>
<p-select [options]="petunjukPrestasiOptions" optionLabel="label" optionValue="value" class="w-full md:w-56" />
<br>

<label for="">Sasaran Kerja</label> <br>
<input type="text" pInputText/> <br>

<label for="">Pencapaian Sebenar</label> <br>
<input type="text" pInputText/> <br>

<label for="">Ulasan</label> <br>
<input type="text" pInputText/> <br>

<label for="">Lampiran</label> <br>
<input type="text" pInputText/> <br>
