<div *ngIf="roles$ | async as roles">
    <ng-container *ngIf="shouldShow(roles)">
        <div style="display: flex; justify-content: space-between;">
            <h1>Penilaian Prestasi</h1>
            <span>
                <div style="display: flex; gap: 5px;">
                    <p-tag value="2025" [rounded]="true" />
                    <p-tag value="Utama" [rounded]="true" />
                </div>
            </span>
        </div>

        <p-stepper [value]="1" class="basis-[50rem]">
            <p-step-list>
                <p-step [value]="1">Maklumat Pegawai</p-step>
                <p-step [value]="2">Penilaian</p-step>
                <p-step [value]="3">Ulasan</p-step>
            </p-step-list>

            <p-step-panels>
                <!-- Step 1 -->
                <p-step-panel [value]="1">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                <app-maklumat-pyd></app-maklumat-pyd>
                            </div><br>
                            <div class="flex pt-6 justify-end">
                                <p-button label="Seterusnya" icon="pi pi-arrow-right" iconPos="right"
                                    (onClick)="activateCallback(3)" />
                            </div>
                        </div>
                    </ng-template>
                </p-step-panel>

                <!-- Step 2 -->
                <p-step-panel [value]="2">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                <app-senarai-soalan></app-senarai-soalan>
                            </div>
                        </div>
                        <div class="flex pt-6 justify-between">
                            <p-button label="Kembali" severity="secondary" icon="pi pi-arrow-left"
                                (onClick)="activateCallback(2)" />
                            <p-button label="Seterusnya" icon="pi pi-arrow-right" iconPos="right"
                                (onClick)="activateCallback(4)" />
                        </div>
                    </ng-template>
                </p-step-panel>

                <!-- Step 3 -->
                <p-step-panel [value]="3">
                    <ng-template #content let-activateCallback="activateCallback">
                        <div class="flex flex-col h-48">
                            <div
                                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                                <h4>Ulasan Keseluruhan</h4>
                                <p-divider />
                                <h6>Pegawai Penilai Pertama</h6>
                                <input class="ulasan" type="text" pInputText ngModel [(ngModel)]="ulasanPPP" />
                                <p-divider />
                                <h6>Pegawai Penilai Kedua</h6>
                                <input class="ulasan" type="text" pInputText ngModel [(ngModel)]="ulasanPPK" />
                            </div><br>
                            <div class="example-button-row">
                                <p-button label="Simpan" icon="pi pi-check" (onClick)="simpan()" />
                            </div>
                        </div>
                        <div class="flex pt-6 justify-start">
                            <p-button label="Kembali" icon="pi pi-arrow-left" iconPos="right"
                                (onClick)="activateCallback(2)" />
                        </div>
                    </ng-template>
                </p-step-panel>
            </p-step-panels>
        </p-stepper>
    </ng-container>
</div>